.bg-rgb-20{ 
      background: url(../img/aa.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  padding: 20px;
  font-family: sans-serif;
}

.gallery {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1cm;
}

.gallery img {
  width: 250px;       /* عرض ثابت */
  height: 180px;      /* ارتفاع ثابت */
  object-fit: cover;  /* عکس بدون کشیده شدن، پر می‌شه */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}